.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.btn {
  width: 150px;
  text-align: center;
}
.ButtonBox {
  position: relative;
  font-style: bold;
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-top: 130px;
  margin-left: 500px;
  margin-right: 500px;
}

.bio {
  margin-top: 60px;
  margin-bottom: 65px;
  margin-left: 125px;
  margin-right: 100px;
  background-color: rgb(77, 73, 59);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  position: absolute;
  width: 100%;
  height: 650px;
  z-index: -1;
}

.Card {
  background-color: rgb(38, 245, 245);
}

.creative-team {
  width: 400px;
  justify-content: center;
  text-align: center;
  margin-top: -500px;
  margin-left: 480px;
}

.imglogo {
  height: 25px;
  width: 25px;
}

.imggps {
  height: 25px;
  width: 25px;
}

.imgdoctors {
  width: 100%;
  height: 650px;
}

.imgcarousel2 {
  width: 100%;
  height: 650px;
}

.imgcarousel3 {
  width: 100%;
  height: 650px;
}

.imgteam {
  position: relative;
  z-index: -1;
  margin-top: 200px;
  width: 100%;
  height: 700px;
}

.imgdoctor2 {
  width: 100%;
  height: 850px;
  margin-top: 90px;
  z-index: -1;
  position: absolute;
}

.imgstethoscope {
  width: 40px;
  height: 40px;
}

.imgdoctor {
  width: 40px;
  height: 40px;
}

.imgheartbeat {
  width: 40px;
  height: 40px;
}

.imgheartbeats {
  width: 40px;
  height: 40px;
}

.imgpeople {
  width: 40px;
  height: 40px;
}

.imgreport {
  width: 40px;
  height: 40px;
}

.imgpills {
  position: absolute;
  width: 400px;
  height: 300px;
  margin-left: 700px;
  margin-top: -250px;
}

.imgemail {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.imgdentist {
  width: 350px;
  height: 250px;
}

.imgpharmacy {
  position: relative;
  width: 400px;
  height: 300px;
  margin-left: 850px;
  margin-top: -50px;
  margin-right: 10px;
}

.latest-news {
  margin-top: 150px;
  width: 500px;
  justify-content: center;
  margin-left: 430px;
  text-align: center;
}

.navbar-nav {
  margin-left: 100px;
}

.nav-item {
  justify-content: center;
  text-align: center;
  width: 10px;
}

.nav-items {
  width: 300px;
  margin-left: 150px;
}

.navbar {
  background-color: rgb(178, 216, 247);
}

.navbar-brand {
  font-family: sans-serif;
}

.nav-link {
  color: black;
  text-align: center;
}

.nav-links {
  height: 20px;
  width: 30px;
  color: #000;
}

.nav-text {
  text-align: left;
  justify-content: center;
  height: 50px;
  position: relative;
}

.welcome-text {
  position: relative;
  text-shadow: 100px;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 370px;
  margin-left: 480px;
  margin-right: 500px;
}

.h4 {
  font-weight: bolder;
}

.update {
  margin-top: 60px;
  margin-bottom: 65px;
  margin-left: 125px;
  margin-right: 100px;
  background-color: rgb(37, 231, 205);
}

.question-text {
  position: relative;
  text-shadow: 100px;
  justify-content: left;
  text-align: left;
  height: 50px;
  width: 370px;
  margin-left: 150px;
  margin-right: 500px;
  margin-top: 200px;
}

.rows {
  justify-content: space-evenly;
}

.what-do {
  position: relative;
  justify-content: center;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 220px;
}
